.header {
    background-color: var(--azul-escuro);
    padding: 2em 3em;
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__container__lista {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header__container__link {
    color: var(--branco);
    font: 700 20px var(--textos);
    text-decoration: none;
}

.header__container__link:hover {
    opacity: 70%;
}

@media screen and (max-width: 1023px) and (min-width: 650px) {
    .header {
        padding: 1.5em 0;
    }

    .header__logo {
        padding-bottom: 10px;
    }

    .header__container {
        flex-direction: column;
    }

    .header__container__lista {
        margin: 0 3%;
    }
}

@media screen and (max-width: 649px) {

    .header {
        padding: 1em 3em;
    }

    .header__logo {
        margin: 0;
        width: 35vw;
        align-items: center;
    }

    .header__sidebar {
        background: url('../../img/menu.svg') no-repeat center;
        width: 24px;
        height: 24px;
    }

    .header__container__lista {
        flex-direction: column;
        gap: 0;
        text-align: center;
        line-height: 40px;
        position: fixed;
        right: -20rem;
    }

    .active {
        right: 0;
        position: relative;
        transition: 1s;
    }

    .header__container__link {
        border-bottom: 1px solid var(--branco);
        padding: 8px;
    }
}
