.introduction {
    display: grid;
    grid-template-areas: "img" "container";
    grid-template-columns: 35vw 30vw;
    margin: 3em 12vw;
    column-gap: 6vw;
}

.introduction__festa {
    grid-area: 1 / 1 / 2 / 2;
    width: 35vw;
}

.introduction__container {
    grid-area: container;
    grid-area: 1 / 2 / 2 / 3;
}

.introduction__tittle {
    text-align: center;
    font: 700 1.5em var(--textos);
    color: var(--cinza);
}

.introduction__description {
    text-align: center;
    margin: 1em 0;
    font: 500 1em var(--textos);
    color: var(--cinza);
}

.introduction__button {
    text-decoration: none;
    border-radius: 8px;
    font: 700 1em var(--textos);
    color: var(--branco);
    padding: 8px 16px;
    background-color: var(--azul-escuro);
    box-shadow: 4px 4px 0px #444444;
    margin-left: 4em;
}
