.line-up {
    display: inline-block;
    align-items: center;
}

.line-up__tittle {
    font: 400 4em var(--titulos);
    color: var(--cinza);
}

.line-up__days {
    color: var(--branco);
    padding: 1em;
    background-color: var(--mostarda);
    display: inline-block;
}