.informacoes {
    margin: 0 auto;
    padding: 2em 0;
    width: 60%;
}

.informacoes__titulo {
    color: var(--cinza);
    font: 400 2.5em var(--titulos);
    padding-bottom: 1em;
    text-align: center;
}

.informacoes__bloco {
    margin-bottom: .5em;
    cursor: pointer;
}

.informacoes__bloco-container {
    align-items: center;
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    padding: .7em;
}

.informacoes__perguntas {
    color: var(--branco);
    font: 700 1.2em var(--textos);
}

.informacoes__content {
    background-color: var(--azul-claro);
    color: var(--cinza);
    font: 500 1.2em var(--textos);
    line-height: 2em;
}

.informacoes__resposta  a {
    color: var(--cinza);
}

.informacoes .informacoes__bloco .informacoes__content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.informacoes .informacoes__bloco.active .informacoes__content {
    height: auto;
    padding: 10px;
}

@media screen  and (max-width:1023px) and (min-width:649px) {
    .informacoes {
        width: 80%;
    }
}

@media screen and (max-width:648px) {
    .informacoes {
        width: 90%;
    }
}